/* map panel */
#map {
	min-height: 512px;
	margin: 0;
	min-width: 512px;
	position: absolute;
	right: 0;
}

.map_expanded {
	z-index: 500;
}

.clearfloats {
	clear: both;
}

#mapToolBar {
	height: 31px;
	position: absolute;
	right: 0;
	z-index: 1005;
}

#neCorner {
    border-color: rgba(0, 0, 0, 0) #1D6EEF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0 30px 30px 0;
	right: 10px;
	top: 10px;
}


#seCorner {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #1D6EEF rgba(0, 0, 0, 0);
    border-width: 0 0 30px 30px;
    bottom: 0;
    right: 10px;
}


#nwCorner {
    border-color: #1D6EEF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 30px 30px 0 0;
    left: 35px;
    top: 10px;
}

#swCorner {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #1D6EEF;
    border-width: 30px 0 0 30px;
    bottom: 0;
    left: 35px;
}

.corner {
    border-style: solid;
    height: 0;
	margin: 0;
	margin-bottom: 10px;
    position: absolute;
    width: 0;
    z-index: 1001;
    display: none;
}

#ogpMapButtons {
	margin-right: 20px;
	margin-top: 5px;
}

#ogpMapButtons .ui-button {
	margin-right: 6px;
}

#ogpMapButtons > .mapStyledButton, #ogpMapButtons > .dropdown button {
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.22);
}

#basemapMenu {
	display: inline-block;
}

.mapClearButtonItemInactive {
	height: 20px;
	width: auto;
	padding: 0 2px;
	background: #FFFFFF;
	color: #666666;
	border: 1px solid #AEAEAE;
    font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-align: center;
	line-height: 18px;
	box-shadow: -1px -1px 2px -1px #AEAEAE inset;
}

.mapClearButtonItemInactive:hover {
	color: #417dc1;
}

#mapLoadIndicator {
	background-color: #E9EAEB;
    border: 1px solid #8B8C8E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    height: 24px;
    margin: 3px;
    padding: 0 2px 3px 1px;
    width: 26px;
    display: none;
    -moz-box-shadow: 2px 5px 4px -1px #777777;
	-webkit-box-shadow: 2px 5px 4px -1px #777777;
	box-shadow: 2px 5px 4px -1px #777777;

}

div.olControlMousePosition {
	background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.05));
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.05)) repeat scroll 0 0 rgba(255, 255, 255, 0);
    height: 19px;
    line-height: 19px;
    padding-left: 15px;
    padding-right: 53px;
    left: 25px;
    right: auto !important;
}

.olControlAttribution {
    bottom: 0 !important;
}

.olControlScaleLine {
	left: auto !important;
	right: 10px;
	bottom: 31px !important;
	margin-left: 60px;
	padding: 1px;
	opacity: 0.65;
	filter: Alpha(Opacity = 65);
	background-color: white;
}

.olControlPanel {
	left: 75px;
	top: 5px;
}

.olControlPanel div {
	float: left;
}

.olControlOverviewMapContainer {
	position: absolute;
	bottom: 100%;
	top: 53px;
	right: 4px;
}

.olControlOverviewMapElement {
	padding: 2px 2px 2px 2px;
	background-color: #CCCCCC;
	-moz-border-radius: 0 0 0 0;
	margin-right: -3px;
	margin-top: -21px;
}

.olControlOverviewMapMinimizeButton {
    right: 0;
    bottom: 0;
	cursor: pointer;
}

.olControlOverviewMapMaximizeButton {
    right: 0;
    bottom: 0;
	cursor: pointer;
}

.olControlOverviewMapExtentRectangle {
	overflow: hidden;
	cursor: move;
	border: 2px dotted red;
}

.olControlOverviewMapRectReplacement {
	overflow: hidden;
	cursor: move;
	background-repeat: no-repeat;
	background-position: center;
}

.olControlNavToolbar {
	width: 60px;
	height: 30px;
}

.olControlNavToolbar div {
	display: block;
	width: 100px;
	height: 28px;
	top: 10px;
	left: 6px;
	position: relative;
}

.olControlNavigationHistory {
	background-image: none;
	background-repeat: no-repeat;
    height: 38px !important;
    width: 30px !important;
	cursor: pointer;
}

.olControlNavigationHistoryPreviousItemActive {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -31px -139px transparent !important;
}

.olControlNavigationHistoryPreviousItemActive:hover {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -31px -183px transparent;
}

.olControlNavigationHistoryPreviousItemInactive {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -31px -139px transparent !important;
}

.olControlNavigationHistoryNextItemActive {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -61px -139px transparent !important;
}

.olControlNavigationHistoryNextItemActive:hover {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -61px -183px transparent;
}

.olControlNavigationHistoryNextItemInactive {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -61px -139px transparent !important;
}

.olControlPanel .olControlNavigationItemActive {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -122px -183px transparent;
	width: 38px;
	height: 38px;
	cursor: pointer;
}

.olControlPanel .olControlNavigationItemInactive {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -122px -139px transparent;
	width: 38px;
	height: 38px;
	cursor: pointer;
}

.olControlPanel .olControlNavigationItemInactive:hover {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -122px -183px transparent;
}

.olControlPanel .olControlZoomBoxItemActive {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -91px -183px transparent;
	width: 31px;
	height: 38px;
	cursor: pointer;
}

.olControlPanel .olControlZoomBoxItemInactive {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -91px -139px transparent;
	width: 31px;
	height: 38px;
	cursor: pointer;
}

.olControlPanel .olControlZoomBoxItemInactive:hover {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -91px -183px transparent;
}

.olControlPanel .olControlZoomToMaxExtentItemInactive {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll 0 -139px transparent;
	width: 31px;
	height: 38px;
	cursor: pointer;
}

.olControlPanel .olControlZoomToMaxExtentItemInactive:hover {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll 0 -183px transparent;
}

.zoomPlus {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -165px -12px transparent;
}

.zoomMinus {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -165px -240px transparent;
}

.zoomSlideBar {
	background: url("/resources/media/ogp-sprite.png") no-repeat scroll -170px -30px transparent;
}

.zoomSlider {
	background-color: #ffffff;
	border: 1px solid #555555;
	z-index: 9;
    -moz-box-shadow: 3px 0 5px -1px #777777;
    -webkit-box-shadow: 3px 0 5px -1px #777777;
    box-shadow: 3px 0 5px -1px #777777;
}

.olHandlerBoxZoomBox {
	border: 2px solid red;
	position: absolute;
	background-color: white;
	opacity: 0.50;
	font-size: 1px;
	filter: alpha(opacity = 50);
}

.olHandlerBoxSelectFeature {
	border: 2px solid blue;
	position: absolute;
	background-color: white;
	opacity: 0.50;
	font-size: 1px;
	filter: alpha(opacity = 50);
}

.olControlPanPanel div {
	cursor: pointer;
	position: absolute;
	width: 41px;
	height: 41px;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
	top: 36px;
    left: 0;
    background-position: 0 0;
}

.olImageLoadError {
	background-color: pink;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* IE */
}

#OpenLayers.Map_46_GMap2Container {
	background-color: white !important;
}

.olControlModPanZoomBar {
    top: 0 !important;
	left: 25px !important;
}

#OpenLayers_Control_PanZoomBar_ZoombarOpenLayers.Map_61 {
	left: 19px !important;
	width: 4px !important;
	background-repeat: repeat-y;
}

div.olMap {
    background: none repeat scroll 0 0 #eeeeee;
}

.olMapViewport > div {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

div.olMap .eventMask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

