/**********
preview controls
***********/

.previewControls {
    padding-bottom: 3px;
}

.previewControls > div {
    display: inline-block;
    vertical-align: top;
    height: 17px;
    position: relative;
}

.sliderControl > div {
    color: #231F20;
    background-color: #FFFFFF;
    z-index: 10;
}

.sliderDisplay {
    font-size: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 2px 0 0 2px;
    padding: 0 2px 2px 5px;
    height: 12px;
    display: inline-block;
}

.sliderArrow {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -65px -65px transparent;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    height: 14px;
    width: 14px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    left: -4px;
}

.controlContainer {
    position: absolute;
    border: 1px solid #aaaaaa;
    background: white;
    height: 11px;
    width: 71px;
    padding: 5px 10px 5px 8px;
    right: 4px;
    display: none;
    box-shadow: 1px 1px 3px -1px #555555;
}

.controlText {
    height: 13px;
    display: inline-block;
    font-size: 10px;
    padding: 0 1px;
}

.colorControl {
    width: 12px;
    height: 12px;
    border: 1px solid #aaaaaa;
    display: inline-block;
    -moz-border-radius: 1px;
}

.picker {
    background: white none repeat scroll 0 0;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: 5px 4px 4px #bbbbbb;
    left: -5px;
    padding: 5px;
    margin-top: -1px;
    position: absolute;
    z-index: -1;
}

.colorControlWrapper {
    border: none;
    background: transparent none repeat scroll 0 0;
    padding: 5px;
}

.colorControlCell.controlOn .colorControlWrapper {
    background: white none repeat scroll 0 0;
    border-left: 1px solid #aaaaaa;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    margin-top: 1px;
    padding: 4px 4px 1px;
    z-index: 1;
}

td.colorCellParent {
    width: 18px;
    height: 18px;
    padding: 0;
}

div.colorCell {
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin: 1px;
    border: 1px solid #CCCCCC;
}

div.colorCell:focus {
    border-color: #999999;
    width: 16px;
    height: 16px;
    margin: 0;
}

div.colorCell.colorCellSelected {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin: 0;
}

.sizeControlCell .sliderLabel {
    display: inline-block;
    width: 50px;
}

.opacityControlCell {
    left: 98px;
}

.opacityControlCell .sliderValue {
    display: inline-block;
    width: 19px;
    text-align: right;
}

.sizeControlCell {
    left: 104px;
}

.colorControlCell {
    z-index: 0;
    left: 103px;
    top: -3px;
}

.colorControlCell.controlOn {
    z-index: 20;
}

.layerInfo {
    border: 2px solid #CCCCCC;
    font-size: 11px;
    padding: 10px;
    white-space: pre-wrap;
}

.zoomToLayerControl {
    left: 86px;
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -9px -90px transparent;
    height: 17px;
    width: 17px;
    top: 1px;
}

.attributeInfoControl {
    left: 115px;
    height: 17px;
    width: 17px;
    top: 1px;
}

.attributeInfoControlOn {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -115px -115px transparent;
}

.attributeInfoControlOff {
    background: url("/resources/media/ogp-sprite.png") no-repeat scroll -36px -90px transparent;
}
