@media print 
{

.page {
	size: landscape;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

svg {
	display: none;
}

#header {
	display: none !important;
}

#searchBox {
	display: none !important;
}

#footer {
	display: none !important;
}

#left_col {
	display: none !important;
}

#roll_right {
	display: none !important;
}



#mapToolBar {
	display: none;
}

.leaflet-control {
	display: none;
}

.leaflet-control.leaflet-control-attribution, .leaflet-control.leaflet-control-scale-line {
	display: inherit;
}

#container {
	border: none;
	position: absolute !important;
}

}