<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="projectPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="WEB-INF/ogp.properties" />
	</bean>

 <bean id="proxy.simple" class="org.OpenGeoPortal.Proxy.SimpleGenericProxy"></bean>
 
 <bean id="userContext.ogp" class="org.OpenGeoPortal.Authentication.OgpUserContextImpl" ></bean>
 
  <bean id="downloadStatusManager" class="org.OpenGeoPortal.Download.DownloadStatusManagerImpl" ></bean>
 
 <bean id="servlet.RestrictedWMSProxy" class="org.OpenGeoPortal.Proxy.RestrictedWMSProxy">
  	<property name="genericProxy" ref="proxy.simple"/>
  	<property name="proxyTo" value="${ogp.proxyToWMS}"/>
</bean>

<!-- misc -->	
<bean id="imageCompositor" class="org.OpenGeoPortal.Proxy.ImageCompositorImpl" scope="prototype" />
<bean id="imageStatusManager" class="org.OpenGeoPortal.Proxy.ImageStatusManagerImpl" />

<bean id="cleanupDirectory.download" class="org.OpenGeoPortal.Utilities.CleanupDirectoryImpl" />
 <bean id="urlShortener.Google" class="org.OpenGeoPortal.Utilities.UrlShortenerGoogle">
 	  	<property name="searchConfigRetriever" ref="configRetriever.search"/>
  </bean>
    
  <bean id="layerInfoRetriever.solr" class="org.OpenGeoPortal.Metadata.SolrLayerInfoRetriever">
  		<property name="searchConfigRetriever" ref="configRetriever.search"/>
  		<property name="solrClient" ref="solrClient.solrJ"/>
  </bean>
  
  <bean id="metadataRetriever.solr" class="org.OpenGeoPortal.Download.MetadataFromSolr">
  </bean>
  
  <bean id="configRetriever.download" class="org.OpenGeoPortal.Download.Config.OgpDownloadConfigRetriever">
    	<property name="resource" value="resources/ogpDownloadConfig.json"/>
  </bean>
  
  <bean id="configRetriever.search" class="org.OpenGeoPortal.Solr.OgpConfigRetriever">
  		<property name="resource" value="resources/ogpConfig.json"/>
  </bean>
  
    <bean id="solrClient.solrJ" class="org.OpenGeoPortal.Solr.SolrJClient">
    	      <constructor-arg ref="configRetriever.search"/>
  </bean>
  
   <!--<bean id="exporter.geoCommons" class="org.OpenGeoPortal.Export.GeoCommonsJsonREST">
        <property name="layerInfoRetriever" ref="layerInfoRetriever.solr"/>
  </bean>-->
  <bean id="directoryRetriever.simple" class="org.OpenGeoPortal.Utilities.GetDirectory">
        	<property name="resource" value="WEB-INF/ogp.properties"/>
  </bean>
  
  <bean id="downloadPackager" class="org.OpenGeoPortal.Download.DownloadPackagerImpl">
  </bean>
  
    <bean id="downloadHandler" class="org.OpenGeoPortal.Download.DownloadHandlerImpl">
  </bean>
<!-- http requesters -->
  <bean id="httpRequester.generic" class="org.OpenGeoPortal.Utilities.HttpComponentsHttpRequester">
  </bean>
  
  <bean id="httpRequester.allTrustingCert" class="org.OpenGeoPortal.Utilities.HttpComponentsAllTrustingCertHttpRequester">
  </bean>
  
<!-- Download methods -->
  <bean id="downloadMethod.wms" class="org.OpenGeoPortal.Download.Methods.WmsDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
  </bean>
  
  <bean id="downloadMethod.wfs" class="org.OpenGeoPortal.Download.Methods.WfsDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
  </bean>
  
  <bean id="downloadMethod.wfs.proxied" class="org.OpenGeoPortal.Download.Methods.ProxiedWfsDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
   		<property name="proxyTo" value="${ogp.proxyToWFS}"/>
  </bean>
  
  <bean id="downloadMethod.kmlReflector" class="org.OpenGeoPortal.Download.Methods.KmlDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
  </bean>
  
  <bean id="downloadMethod.wcs" class="org.OpenGeoPortal.Download.Methods.WcsDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
  </bean>
  
  <bean id="downloadMethod.wcs.proxied" class="org.OpenGeoPortal.Download.Methods.ProxiedWcsDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
   		<property name="proxyTo" value="${ogp.proxyToWCS}"/>
  </bean>
  
  <bean id="downloadMethod.allPublic.MIT" class="org.OpenGeoPortal.Download.Methods.MITDownloadMethod" scope="prototype">
     	<property name="httpRequester" ref="httpRequester.allTrustingCert"/>
  </bean>
  
  <bean id="downloadMethod.email.HGL" class="org.OpenGeoPortal.Download.Methods.HGLEmailDownloadMethod" scope="prototype">
   		<property name="httpRequester" ref="httpRequester.generic"/>
  </bean>

  <!-- LayerDownloader -->
  <bean id="layerDownloader.wfs" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.wfs"/>
  </bean>
  <bean id="layerDownloader.wcs" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.wcs"/>
  </bean>
  <bean id="layerDownloader.wfs.proxied" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.wfs.proxied"/>
  </bean>
  <bean id="layerDownloader.wcs.proxied" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.wcs.proxied"/>
  </bean>
  <bean id="layerDownloader.kml" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.wms"/>
  </bean>
    <bean id="layerDownloader.wms" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.wms"/>
  </bean>
  <bean id="layerDownloader.kml.reflector" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
  		<property name="perLayerDownloadMethod" ref="downloadMethod.kmlReflector"/>
  </bean>
  <!-- MIT specific-->
  <bean id="layerDownloader.all.MIT" class="org.OpenGeoPortal.Download.PerLayerDownloader" scope="prototype">
        <property name="perLayerDownloadMethod" ref="downloadMethod.allPublic.MIT"/>
  </bean>
 
  <!-- HGL specific-->

  <bean id="layerDownloader.email.HGL" class="org.OpenGeoPortal.Download.EmailLayerDownloader" scope="prototype">
  		<property name="emailDownloadMethod" ref="downloadMethod.email.HGL"/>
  </bean>
  
</beans>
