/*
 *  File:         dataTable.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables (search results table)
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     by Chris Barnett
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	/*position: relative;*/
	zoom: 1; /* Feeling sorry for IE */
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: #FFFFFF;
	z-index: 2;
}


.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../media/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../media/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../media/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../media/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0px;
	border-collapse: collapse;
	table-layout: fixed;
	cursor: default;
	
/*	width: 100%;
	clear: both;
	*/
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	text-align: center;
	border-collapse:collapse;
	padding: 3px;
	margin: 0px;
	/*border: 1px solid rgb(204, 204, 204);*/
	border-color: #CCCCCC;
    /*border-right: 1px solid #CCCCCC;*/
    border-style: none solid solid;
    border-width: 0 1px 1px;
	/*background-color:#FFFFFF;*/
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	/* cursor: hand;*/
}

/* text columns */

   
 .colOriginator .cellWrapper {
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
} 
    
 .colTitle .cellWrapper {
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
} 

 .colPublisher .cellWrapper {
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
} 

#resultsTable th:hover {
	color:#417dc1;
}

#resultsTable th.colPreview:hover {
	color:#333333;
}

th.colPreview {
	border-right: 0 none !important;
}
/*
table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}
*/
table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display > tbody > tr > td {
	padding: 3px;
	overflow: hidden;
	color: #4E4E4E;
	height: 17px;
    border-collapse: collapse;
    border-color: #FFFFFF;
    border-style: none solid solid;
    border-width: 0 1px 1px;
	white-space: nowrap;	
}

table.display td.center {
	text-align: center;
}

td.searchResultsCell {
	overflow: hidden;
	text-overflow: ellipsis;
}

.colExpand {
		border-bottom: 1px solid rgb(236, 236, 236);
}

th.colExpand {
	border-left: 0 none !important;
}

th.colChkBoxes {
	border-left: 0 none !important;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollHead {
	border-bottom: 1px solid #cccccc !important;	
	/*height: 24px;*/ /*preserve basic layout, even if header gets wonky */
	height: 100%;
	/*max-height: 200px;
	 */
}

table.display > tbody > tr > td.previewTools {
    overflow: visible;
}

.dataTables_scrollHead tbody{
	background-color: #F8F8E4;
}

.dataTables_scrollBody {
	*margin-top: -1px;
 	overflow-x: hidden;
    overflow-y: scroll;
}

.top, .bottom {
	padding: 15px;
	background-color: white;
	border: none;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

#searchResults .dataTables_empty {
	visibility: hidden;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	border-bottom: 1px solid rgb(236, 236, 236);
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}




table.display tr.row_selected { 
	background-color:#ebf6ff;
}

table.display tr.row_selected td { 
	border-color:#ebf6ff;
}

table.display tr.row_selected_top td {
	border-bottom: #d8e8fa 1px solid !important;
}

table.display tr.row_selected_bottom td {
	border-bottom: #d8e8fa 1px solid !important;
}

table.display tr.cartSelected td {
	background-color:#CDE4FA;
}

table.display tr.cartUnavailable td {
	opacity: .6;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
/*	border: 1px solid #8080FF;
	background-color: #E5E5FF;*/
}

/* expanded preview controls for search results table 
*/

.previewControls {
 	font-size: 11px;
}

.previewControls > div {
	display: inline-block;
	height: 17px;
	position: relative;
}

/*.opacitySlider {
	position: relative;
	overflow: visible;
}

.opacitySlider > div {
	display:inline;
	position:absolute;
}*/

.sliderControl > div {
	color: #231F20;
	background-color: #FFFFFF;
	z-index: 10;
}

.sliderDisplay {
	font-size: 10px;
	border: 1px solid #aaaaaa;
    border-radius: 3px 0 0 3px;
    padding-left: 5px;
    padding-right: 2px;
    display: inline-block;
}

.sliderArrow {
	background: url("../media/ogp-sprite.png") no-repeat scroll -65px -64px transparent;
   	border-bottom: 1px solid #aaaaaa;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    height: 15px;
    vertical-align: top;
    width: 14px;
    display: inline-block;
}

.controlContainer {
	position: absolute;
	border: 1px solid #aaaaaa;
	background: white;
	height: 11px;
	width: 71px;
	padding: 5px 10px 5px 8px;
	right: 0;
	top: 100%;
	display: none;
	}


.controlText{
	height: 13px;
	display: inline-block;
	font-size: 10px;
	padding: 0px 1px;
	}
	
/*.opacityText {
	width: 26px;
	}
*/

	
.sizeText {
	}
	
.colorControl {
	width:12px;
	height:12px;
	border:1px solid #aaaaaa;
	display: inline-block;
	-moz-border-radius: 1px;
}

td.colTitle {
	cursor: pointer;
	color: #000000 !important;
}

/*.ui-resizable-helper { */
	/*border-right: 1px solid black;*/
	/*margin-right: -5px;
}*/
	
.tableCheckBox {
	/*margin-bottom: 0px;*/
	display: none;
	max-height: 13px;
}

.sortGraphic_unsorted:hover {
	background: url("../media/sort_both.png") no-repeat right transparent;
}
.sortGraphic_sortedAsc:hover {
	background: url("../media/sort_asc.png") no-repeat right transparent;
}
.sortGraphic_sortedDesc:hover {
	background: url("../media/sort_desc.png") no-repeat right transparent;
}

.sizeControlCell .sliderLabel {
    display: inline-block;
    width: 50px;
}

.opacityControlCell {
	left: 71px;
	top: -3px;
}

.opacityControlCell .sliderValue {
	display: inline-block;
	width: 19px;
	text-align: right;
}
.sizeControlCell {
	left: 83px;
	top: -3px;
}

.colorControlCell {
    left: 89px;
    top: -1px;
}

.expandControl {
	height: 17px;
	width: 11px;
}

.expanded {
		background: url("../media/ogp-sprite.png") no-repeat scroll -92px -115px transparent;
}

.notExpanded {
		background: url("../media/ogp-sprite.png") no-repeat scroll -83px -63px transparent;
}

.zoomToLayerControl {
	left: 104px;
	background: url("../media/ogp-sprite.png") no-repeat scroll -9px -90px transparent;
    height: 17px;
	width: 17px;
	top: 1px;
}

.attributeInfoControl {
	left: 110px;
    height: 17px;
	width: 17px;
	top: 1px;
}

.attributeInfoControlOn {
	background: url("../media/ogp-sprite.png") no-repeat scroll -115px -115px transparent;
}
.attributeInfoControlOff {
	background: url("../media/ogp-sprite.png") no-repeat scroll -36px -90px transparent;
}

.cartIconTable {
	background: url("../media/ogp-sprite.png") no-repeat scroll -102px -62px transparent;
    height: 17px;
	width: 17px;
}

.repositoryIcon {
    height: 17px;
	width: 17px;
}

.typeIcon {
	height: 17px;
	width: 17px;
}

.typeIcon {
	vertical-align: middle;	
}

.expandIcon {
	/*vertical-align: middle;	*/
}

table.display > thead > tr > th > div {
/*	height: 17px;
	line-height: 17px;
	*/
}

table.display > tbody > tr > td > div {
	height: 17px;
	line-height: 15px;
}

.opacityControl {
}

table.display tr.previewedLayer td {
	background-color:#f8f8e4;
}

.previewLock {
	position: absolute;
	margin-top: -18px;
	right: 6px;
	display: none;
}

tr.previewedLayer .previewLock {
	display: inline-block;
}

.previewSeparator {
	border-bottom: 1px solid #7E7E7E;
}

 