/* dialogs */
#organizeDialog th {
	text-align: left;
}

.columnVisibility {
	margin-right: 5px;
}

td.colorCellParent {
	width: 18px;
	height: 18px;
	padding: 0px;
}

div.colorCell {
	cursor: pointer;
	width: 14px;
	height: 14px;
	border: 1px solid #CCCCCC;
}

div.colorCell:hover {
	border-color: #999999;
	width: 16px;
	height: 16px;
}

.colorCellSelected {
	border: 1px solid black !important;
	width: 16px !important;
	height: 16px !important;
}

.linkText {
	width: 465px;
}

.shareServicesText {
	width: 460px;
}

#metadataDownloadButton {
	right: 2.3em;
}

#toMetadataTop {
	position: absolute;
	background: transparent;
	opacity: .35;
	height: 15px;
	left: 0;
	margin-right: -21px;
	width: 100%;
}

#toMetadataTop:hover {
	background: url("../media/arrow_up_white.png") no-repeat scroll 5px 50%
		black;
}

#toMetadataTop > span {
    color: white;
    font-size: 0.9em;
    padding-left: 20px;
    padding-top: 5px;
}

.metadataDialogFooter {
	color: white;
}

#metadataDialog {
	padding: 0 0 15px;
}

.metadataDialogContent {
	overflow: auto;
	height: 100%;

	/*word-wrap: break-word;*/
}


.metadataIframe {
	height: 100%;
	width: 100%;
	border: none;
}

td div.button {
	margin: auto;
}

td div.typeIcon {
	margin: auto;
}

td div.repositoryIcon {
	margin: auto;
}



.exampleControl {
	display: inline-block;
	padding: 0 2px;
}

.dialog {
	text-align: left;
	cursor: default;
}

.dialog input {
	margin-left: 9px;
}

.infoDialog {
	padding: 1.5em 4em !important;
}

span.columnNote {
	display: block;
	float: right;
	margin-top: 4px;
	font-style: italic;
}

.downloadDialog {
	margin-left: 17px;
	line-height: 20px;
	margin-top: 5px;
}

.downloadDialog div {
	padding-top: 5px;
	padding-bottom: 5px;
}

#emailAddress {
	width: 300px;
	border: 1px solid #CCCCCC;
	margin-left: 0;
}

#emailAddress:focus {
	border: 1px solid #417DC1;
}

.downloadDialog select {
	width: 100px;
	position: absolute;
	left: 126px;
}

.downloadDialog label.downloadSelect {
	display: inline-block;
	text-align: right;
	width: 90px;
}

#downloadDialog label {
	padding-right: 5px;
}

#checkClip {
	margin-left: -1px;
	margin-top: 15px;
}

#checkClipLabel {
	margin-left: 5px;
}

.ignoreWarning {
	bottom: 0;
	display: block;
	left: 0;
	padding: 14px;
}


#owsServicesArea .sub_headerTitle {
	margin-left: 0px;
}

.owsServicesLinkContainer > label, .owsServicesLinkContainer > select, .owsServicesLinkContainer > div {
    margin: 4px;
}

.genericModalDialog {
	padding: 1.5em 1.5em 0 !important;
}

#about {
	font-size: 1.25em;
}

.geodataContact {
	color: #417DC1;
}
