/* footer */
#footer {
	z-index: 1050;
	height: 30px;
	background: #FFF;
	border: #CCCCCC solid 1px;
	border-left: none;
	border-right: none;
	font-size: 13px;
	width: 100%;
	min-width: 1024px;
}

#footerLogos {
	float: left;
	margin-left: 20px;
	height: 30px;
	overflow: hidden;
}

#footerLogos>div {
	cursor: pointer;
	display: inline-block;
	line-height: 30px;
	padding-right: 10px;
	vertical-align: text-bottom;
}

#footerInfo {
	float: right;
	line-height: 30px;
	margin-right: 20px;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
}

#footer a:hover {
	color: #FFFF66;
}