/* attribution displayed elsewhere */
.olLayerGoogleCopyright {
	 display: none;
}

.olLayerGooglePoweredBy {
	 width: 70px;
}

.gm-style .gmnoprint {
    right: 69px !important;
}

.googleLogo {
    margin-bottom: 19px !important;
}

.poweredByGoogleAttr {
    background: url("../media/powered-by-google/desktop/powered-by-google-on-white.png") no-repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 20px;
    width: 110px;
}
