/* attribution displayed elsewhere */
.olLayerGoogleCopyright {
	 display: none;
    z-index: 0 !important;
}

.googleLogo {
    margin-bottom: 19px !important;
}

.googleLogo img {
    left: 25px !important;
}

.poweredByGoogleAttr {
    background: url("../media/powered-by-google/desktop/powered-by-google-on-white.png") no-repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 20px;
    width: 110px;
}
