body {
	background: #cccccc url(../media/bg_tile.gif) repeat;
    font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;
	/*font-family: arial, sans-serif;*/
	/* altering font-size could cause formatting problems in places */
	font-size: 12px;
}

#logoGraphic {
		/*background: url("../media/globe_ffffff_45.png") no-repeat 0 0 rgba(0, 0, 0, 0);*/
		background: url("../media/mn-icon-10000m.png") no-repeat 0 0 rgba(0, 0, 0, 0);
		height: 45px;
		width: 45px;
		padding-right: 5px;
}

#logo > div {
    display: inline-block;
    vertical-align: middle;
}


.minnesotaIcon {
    background: url("../media/ogp-institutions.png") no-repeat scroll -12px
                -35px transparent;
}

#directionsText, #welcomeText p, #welcomeText li {
    font-size:1.5em;
}

#welcomeText h1 {
    font-size:2.3em;
    font-weight:normal;
    text-transform:uppercase;
}

/* Make top menu links gold */
.headerButton {
    color: #ffcc33;
}

.triangle-isosceles.top-arrow,.triangle-isosceles,
.triangle-isoscelesBackground.top-arrowBackground, .triangle-isoscelesBackground, #header {
    background-color: #7a0019;
}

.whatBox, .whereBox, .offsetColor {
    color: #7a0019;
}

.searchButton {
    background: none repeat scroll 0 0 #7a0019;
    color: #FFFFFF;
}

/*main logo.  The width will probably have to be changed to accomodate your specific logo */
#logo {
    padding: 10px 0 0 10px;
    color: #FFFFFF;
    font-size:2.3em;
    font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;
    text-transform:uppercase;
    letter-spacing:0.1em;
}

/* css for the Contact dialog */
#contact {
	padding: 10px;
}

#footerInfo {
    color: #ffffff;
}

#contactLogos {
	background: none repeat scroll 0 0 #CCCCCC;
	bottom: 15px;
	height: 30px;
	left: 33px;
	padding-top: 5px;
	position: absolute;
	width: 83%;
}

#contactLogos>div {
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding: 5px;
}

#contactLogos>div.gisLogo {
	float: right;
}

#contactLogos>div.itLogo {
	float: left;
	margin-left: 10px;
}

/*logos in the footer and in contact dialog */
.itLogo {
	width: 34px;
	background: url(../media/uit_logo.png) no-repeat transparent;
}

.gisLogo {
	width: 111px;
	background: url(../media/gis_logo.png) no-repeat transparent;
}

h1 {
	font-size: 14px;
	color: #003366;
}

h2 {
	font-size: 13px;
	color: #3366cc;
	margin-bottom: 3px;
}

h4 {
	text-decoration: underline;
}

#header {
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #999999 solid 1px;
}

#top_menu {
	width: 252px;
	background: url(../media/top_menu_bg.png) no-repeat transparent;
	color:#ffcc33;
	text-align:right;
}

#top_menu a {
	color: #FFFFFF;
}

#top_menu a:hover {
	color: #FFFFFF;
}

.headerButton:hover{
    color: #ffffff;
}

#welcome {
	color: #333333;
}

#footer {
	height: 30px;
	background: #7a0019;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #333 solid 1px;
}

#footer a {
	color: #ffcc33;
}

#footer a:hover {
	color: #ffcc33;
	text-decoration: underline;
}

.highlight_row {
	background-color: #edf4fa;
}
