@CHARSET "UTF-8";


#logoGraphic {
		/*background: url("../media/globe_ffffff_45.png") no-repeat 0 0 rgba(0, 0, 0, 0);*/
		background: url("../media/mn-icon-10000m.png") no-repeat 0 0 rgba(0, 0, 0, 0);
		height: 45px;
		width: 45px;
		padding-right: 5px;
}

#logo > div {
    display: inline-block;
    vertical-align: middle;
}

