/* map panel */
#map {
	min-height: 512px;
	margin: 0;
	min-width: 512px;
	position: absolute;
	right: 0;
}

.map_expanded {
	/*width: 1000px !important;*/
	z-index: 500;
	/*position:absolute;*/
}

.clearfloats {
	clear: both;
}

#mapToolBar {
	height: 31px;
	position: absolute;
	right: 0;
	z-index: 1005;
}

#neCorner {
    border-color: rgba(0, 0, 0, 0) #1D6EEF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 0 30px 30px 0;
	right: 10px;
	top: 10px;
}


#seCorner {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #1D6EEF rgba(0, 0, 0, 0);
    border-width: 0 0 30px 30px;
    bottom: 0;
    right: 10px;
}


#nwCorner {
    border-color: #1D6EEF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-width: 30px 30px 0 0;
    left: 35px;
    top: 10px;
}

#swCorner {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #1D6EEF;
    border-width: 30px 0 0 30px;
    bottom: 0;
    left: 35px;
}

.corner {
    border-style: solid;
    height: 0;
	margin: 0;
	margin-bottom: 10px;
    position: absolute;
    width: 0;
    z-index: 1001;
    display: none;
}

#ogpMapButtons {
	margin-right: 20px;
	margin-top: 5px;
}

#ogpMapButtons .ui-button {
	margin-right: 6px;
}

#basemapMenu {
	display: inline-block;
}

.mapClearButtonItemInactive {
	height: 20px;
	width: auto;
	padding: 0 2px;
	/*background: #cccccc url(../media/bg_grayfade.png)  repeat-x;*/
	background: #FFFFFF;
	color: #666666;
	border: 1px solid #AEAEAE;
	font-family: tahoma;
	font-size: 12px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-align: center;
	line-height: 18px;
	box-shadow: -1px -1px 2px -1px #AEAEAE inset;
}

.mapClearButtonItemInactive:hover {
	color: #417dc1;
}

#mapLoadIndicator {
	background-color: #E9EAEB;
    border: 1px solid #8B8C8E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    height: 24px;
    margin: 3px;
    padding: 0 2px 3px 1px;
    width: 26px;
    visibility: none;
    -moz-box-shadow: 2px 5px 4px -1px #777777;
	-webkit-box-shadow: 2px 5px 4px -1px #777777;
	box-shadow: 2px 5px 4px -1px #777777;

}

#geoportalMap {
	margin: 0px;
	padding: 0px;
	opacity: 0;
}

.zoomPlus {
	background: url("../media/ogp-sprite.png") no-repeat scroll -165px -12px
		transparent;
}

.zoomMinus {
	background: url("../media/ogp-sprite.png") no-repeat scroll -165px
		-240px transparent;
}

.zoomSlideBar {
	background: url("../media/ogp-sprite.png") no-repeat scroll -170px -30px
		transparent;
}

.zoomSlider {
	background-color: #ffffff;
	border: 1px solid #555555;
	z-index: 9;
	-moz-box-shadow: 3px 0px 5px -1px #777777;
	-webkit-box-shadow: 3px 0px 5px -1px #777777;
	box-shadow: 3px 0px 5px -1px #777777;
}
