/* map panel */
#map {
	height: 100%;
    margin: 0;
  /*  width: 100%;*/
 	/*min-width: 415px;*/
 	float: right;
}

.map_expanded {
	/*width: 1000px !important;*/
	z-index: 500;
	/*position:absolute;*/
}
 
.clearfloats {
	clear:both;
}

#mapToolBar {
    height: 31px;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#ogpMapButtons {
  	margin-right:20px;
  	margin-top: 5px;
}

.mapClearButtonItemInactive {
	height: 20px;
	width: auto;
	padding: 0 2px;
	/*background: #cccccc url(../media/bg_grayfade.png)  repeat-x;*/
	background: #FFFFFF;
	color: #666666;
	border:1px solid #AEAEAE;
	font-family:tahoma;
	font-size:12px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-align: center;
	line-height: 18px;
	box-shadow: -1px -1px 2px -1px #AEAEAE inset;
}

.mapClearButtonItemInactive:hover {
	color:#417dc1; 
}

#mapLoadIndicator {
	position: absolute;
	width: 27px;
	height: 25px;
	left: 205px;
	top: 3px;
}

div.olControlMousePosition {
	bottom: 13px !important;
}

#geoportalMap {
  margin: 0px;
  padding: 0px;  
  opacity: 0;
}
  
.olControlScaleLine {
  margin-left: 60px;
  padding: 1px;
  opacity: 0.65;
  filter:Alpha(Opacity=65);
  background-color: white;
}

.olControlPanel {
  left: 50px;
  top: 5px;
}

/*.olImageLoadError_custom {
	display: none;
}*/

.olControlPanel div {
  float: left;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 100%;
    top: 53px;
    right: 4px;
}

.olControlOverviewMapElement {
    padding: 2px 2px 2px 2px;
    background-color: #CCCCCC;
    -moz-border-radius: 0 0 0 0;
    margin-right: -3px;
    margin-top: -21px;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    /*background-image: url("img/blank.gif");*/
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("img/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.olControlNavToolbar { 
    width:60px;
    height:30px;
}    
.olControlNavToolbar div { 
  display:block;
  width:  100px;
  height: 28px;
  top: 10px;
  left: 6px;
  position: relative;
}

.olControlNavigationHistory {
	background-image: none;
	background-repeat:no-repeat;
	height:38px;
	width:30px;
  	cursor: pointer;
}

.olControlNavigationHistoryPreviousItemActive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -31px -161px transparent;
}
.olControlNavigationHistoryPreviousItemActive:hover { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -31px -161px transparent;
}
.olControlNavigationHistoryPreviousItemInactive { 
   background: url("../media/geodata-sprite.png") no-repeat scroll -31px -161px transparent;
}
.olControlNavigationHistoryNextItemActive { 
   background: url("../media/geodata-sprite.png") no-repeat scroll -61px -161px transparent;
}

.olControlNavigationHistoryNextItemActive:hover { 
   background: url("../media/geodata-sprite.png") no-repeat scroll -61px -161px transparent;
}

.olControlNavigationHistoryNextItemInactive { 
   background: url("../media/geodata-sprite.png") no-repeat scroll -61px -161px transparent;
}

.olControlPanel .olControlNavigationItemActive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -122px -161px transparent;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.olControlPanel .olControlNavigationItemInactive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -122px -161px transparent;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.olControlPanel .olControlZoomBoxItemActive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -91px -161px transparent;
  width: 31px;
  height: 38px;
  cursor: pointer;
}
.olControlPanel .olControlZoomBoxItemInactive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -91px -161px transparent;
  width: 31px;
  height: 38px;
  cursor: pointer;
}

div.olControlZoomBoxItemInactive:hover {
	background-image: url("../media/geodata-sprite.png");
}

.olControlPanel .olControlZoomToMaxExtentItemInactive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll 0 -161px transparent;
  width: 31px;
  height: 38px;
  cursor: pointer;
}

div.olControlZoomToMaxExtentItemInactive:hover {
	background-image: url("../media/geodata-sprite.png") !important; 
}

.olControlZoomToMaxExtentItemInactiveHover {
	 background-image: url("../media/geodata-sprite.png") !important;
	 cursor: pointer;
	 
} 

.olControlPanel .olControlZoomToMaxExtentItemActive { 
  background: url("../media/geodata-sprite.png") no-repeat scroll 0 0 transparent;
  width: 24px;
  height: 38px;
}

.zoomPlus { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -11px -207px transparent;
}

.zoomMinus { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -11px -432px transparent;
}

.zoomSlideBar { 
  background: url("../media/geodata-sprite.png") no-repeat scroll -16px -229px transparent;
}

.zoomSlider { 
	background-color: #ffffff;
	border: 1px solid #555555;
	z-index: 9;
	-moz-box-shadow:    3px 0px 5px -1px #777777;
  	-webkit-box-shadow: 3px 0px 5px -1px #777777;
  	box-shadow:         3px 0px 5px -1px #777777;
}

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}   

.olControlPanPanel {
    top: 37px;
    left: 5px;
    width: 41px;
    height: 41px;
    background: url("../media/panarrows_bg.png") no-repeat scroll 0 0 transparent;    
}  

.olControlPanPanel div {
    cursor: pointer;
    position: absolute;
	width:41px;
	height:41px;
}

.olControlPanPanel .olControlPanNorthItemInactive {
	width: 18px;
	height: 18px;
    top: 2px;
    left: 13px;
    background: url("../media/pandarrows_north.png") no-repeat scroll 0 0 transparent;
}
.olControlPanPanel .olControlPanSouthItemInactive {
		width: 18px;
	height: 18px;
    top: 30px;
    left: 13px;
    background: url("../media/pandarrows_south.png") no-repeat scroll 0 0 transparent;
}
.olControlPanPanel .olControlPanWestItemInactive {
		width: 18px;
	height: 18px;
    top: 15px;
    left: 2px;
    background: url("../media/pandarrows_west.png") no-repeat scroll 0 0 transparent;
}
.olControlPanPanel .olControlPanEastItemInactive {
		width: 18px;
	height: 18px;
    top: 15px;
    left: 28px;
    background: url("../media/pandarrows_east.png") no-repeat scroll 0 0 transparent;
}

.olControlPanPanel .olControlPanNorth {
		width: 18px;
	height: 18px;
    top: 2px;
    left: 13px;
    background: url("../media/pandarrows_north.png") no-repeat scroll 0 0 transparent;
}
.olControlPanPanel .olControlPanSouth {
		width: 18px;
	height: 18px;
    top: 30px;
    left: 13px;
    background: url("../media/pandarrows_south.png") no-repeat scroll 0 0 transparent;
}
.olControlPanPanel .olControlPanWest {
		width: 18px;
	height: 18px;
    top: 15px;
    left: 2px;
    background: url("../media/pandarrows_west.png") no-repeat scroll 0 0 transparent;
}
.olControlPanPanel .olControlPanEast {
		width: 18px;
	height: 18px;
    top: 15px;
    left: 28px;
    background: url("../media/pandarrows_east.png") no-repeat scroll 0 0 transparent;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 0px;
}

.olImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

#OpenLayers.Map_46_GMap2Container {
	background-color:white !important;
}

.olControlModPanZoomBar {
	top: 0px !important;
	left: 0px !important;
	}

#OpenLayers_Control_PanZoomBar_ZoombarOpenLayers.Map_61 {
	left: 19px !important;
	width: 4px !important;
	background-repeat: repeat-y;
}

.olLayerGoogleCopyright {
	z-index: 0 !important;
}

