/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
/*
This file has been heavily modified from the original template
*/

:focus {outline:none;}

body {
	text-align: center;
	margin: 0; 
	padding: 0;
	/*background: #cccccc url(../media/bg_tile.gif)  repeat;*/
	font-family: arial, sans-serif;
	font-size: 12px;
	color: black;
}

img {
	border: none;
}

h1 {
	font-size: 14px;
	color:#003366;
}

h2 {
	font-size: 13px;
	color: #3366cc;
	margin-bottom: 3px;
}

h3 { 
	font-size: 12px;
	color:#003366;
}

 h4 {
  	text-decoration:underline;
 }
 
.button {
 	cursor: pointer;
}

.styledButton {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    background: url("../media/tab_bg.gif") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AEAEAE;
    color: #333333;
    cursor: pointer;
    font-family: tahoma;
    margin: 0.5em 0.4em 0.5em 0;
    padding: 2px 0px;
    min-width: 88px;
    text-align: center;
    display: inline-block;
}

.raised {
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.styledButton:hover {
	color: #417DC1;
	}

.styledButtonSmall {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    background: url("../media/tab_bg.gif") repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #AEAEAE;
    color: #333333;
    cursor: pointer;
    font-family: tahoma;
   /* margin: 0.5em 0.4em 0.5em 0;*/
    min-width: 66px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    line-height: 16px;
    font-weight: normal;
}

.styledButtonSmall:hover {
	color: #417DC1;
	}
	
.owsServicesButton {
	width: 100%;
	text-align: left;	
}

.owsServicesButton > span.ui-button-text {
	width: 100%;	
}

.warning {
	color: #FF5555;
}

.notice {
	font-weight: bold;
}

#metadataDownloadButton {
	padding-left: 20px;
	padding-right: 20px;
	float: right;
    margin-right: 5px;
    margin-top: 3px
	}

 div#main {
 	/*width: 90%;*/
 	min-width: 1002px;
 	/*width: 1002px;*/
 	margin: 0 auto;
 	background-color: #fff;
 	text-align: left;
 }
 
/* Header */
#header {
	height: 92px;
  	background-color: #edf4fa;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #999999 solid 1px;
}

#logo {
	float:left;
	margin-left: 40px;
	background: no-repeat transparent;
	height: 75px;
	cursor: pointer;
}
 
#top_menu {
 	float:right;
 	height: 26px;
 	width: 252px;
 	background: url(../media/top_menu_bg.png) no-repeat transparent;
 	padding-top: 5px;
 	padding-left: 20px;
 }

#top_menu a {
 	color:#FFFFFF; 
 	text-decoration: none;
}

#top_menu a:hover {
	color:#FFFF66;
}

span.infoLinks {
	cursor: pointer;
	color:#FFFFFF;
}

span.infoLinks:hover {
	color:#FFFF66;
}

#welcome {
	float:right;
	color:#333333;
	font-style:italic;
	height: 20px;
	margin-top: 9px;
	margin-right: 10px;
	visibility: hidden;
}

/* Menu */
#menu {
	position: absolute;
	top: 62px;
	height: 25px;
	width: inherit; 
	min-width: 1000px;
}

.styledDropdown {
	display: inline-block;
}

.styledSelect {
	line-height: 10px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	font-family: tahoma;
	color: #222222 !important;
	z-index: 999;
	padding-left: 11px;
	text-align: left;
	width: 100%;
}

.styledSelect:hover{
	color:#417DC1 !important;
	background: #ffffff url(../media/tab_bg.gif) 50% 50% repeat-x;
}

.styledSelect > span {
	width: 100% !important;
}

.styledSelectText {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;	
}

.styledSelectArrow {
	float: right;
	margin-top: 1px;
	padding-right: 11px;
}

.styledSelectMenu {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: #999999 solid 1px;
	margin-top: -5px;
	z-index: 99999;
	max-height: 225px;
	overflow: auto;
	width: 227px;
	line-height: 23px;
}

.styledSelectMenu label {
	background-image: none !important;	
	border: none !important;
	/*-moz-border-radius: 0px;
	border-radius: 0px;*/
	background-color: #ffffff !important;
	width: 97%;
	padding-left: 5px;
	display: inline-block;
}

.styledSelectMenu label.ui-state-active {
	color:#417DC1;
}

.styledSelectMenu label > span {
	width: 100% !important;
	text-align: left;
	line-height: 19px;
}

.styledSelectMenu label > span > img {
	padding-right: 10px;
	float: left;	
}

.styledSelectMenu input {
	left: 192px;
	z-index: 99;
	margin-top: 6px;
}

.styledSelectMenu label:hover {
	background-color:#EDF4FA !important;
}

#basemapDropdown {
	display: inline-block;
	vertical-align: top;
}

#basemapSelect {
	height: 24px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	background-color: #ffffff;
	z-index: 2500;
	border-bottom: none;
}

#basemapSelect:hover{
	color:#417DC1;
}

#basemapSelect > span > span > img {
	padding-left: 2px;
	margin-bottom: -1px;
}

#basemapMenu {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: #999999 solid 1px;
	z-index: 2499;
	right: 0px;
	margin-right: 1px;
	top: 29px;
	width: 100px;
}

#basemapMenu label {
	background-image: none;	
	display: block;
	border: none;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
	padding: 2px 5px;
	background-color: #ffffff;
}

#basemapMenu label.ui-state-active {
	color:#417DC1;
}

#basemapMenu label > span {
	width: 100%;
	text-align: left;
}

#basemapMenu label:hover {
	background-color:#EDF4FA;
}

#sortDropdown {
	display: inline-block;
}

#sortDropdownMenu {
	width: 125px;
	overflow: hidden;
	margin-top: -3px;
}

.subHeaderDropdownSelect {
    font-size: 11px;
    height: 18px;
    line-height: 9px;
    margin: 0;
    top: 0px;
}

#columnDropdown {
    float: right;
    margin-top: 1px;
    padding-right: 5px;
}

#columnDropdownMenu {
	width: 125px;	
	overflow: hidden;
	margin-top: -3px;
}

#columnDropdownMenu input {
	left: 100px;
}

#dataTypeDropdownMenu {
	overflow: hidden;
}

#sourceDropdownMenu {
	overflow: hidden;
}

/* Container */
#container {
	background-color: #fff;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px; 
	border-bottom: #333 solid 1px; 
	min-height:680px;
	height: 100%;
}

/* left column panel */
#left_col {
	width: 450px;
	border-right: #999 solid 1px; 	 
	/*min-height:680px;
	height: 100%;*/
	float:left;
	cursor: default;
}

#left_tabs {
 	color:#666666;
 	font-size:10px;
 	/*min-height: 680px !important;*/
 	height: 100%;
}
 
#tabs {
  	background: none !important;
  	background-color: transparent !important;
  	height: 100%;
}

#tabs > ul {
	padding-left: 10px;
	position: absolute;
	top: -20px;
}

#tabs > ul > li > a {
	text-decoration: none;
}

.sub_header {
	height: 25px;
	line-height: 25px;
	background: #cccccc url(../media/bg_grayfade.png)  repeat-x;
	border-top:1px solid #CCC;
	font-size: 12px;
	clear: both;
}

.sub_header button.styledSelect {
	font-size: 11px;
	max-width: 88px;
}

.sub_header .arrow_buttons {
	display: inline;
	position: absolute;
	right: 5px;
	margin-top: 4px;
 }

.tabImage {
	height: 15px;
	/*border: none;*/
}

.tabText {
	font-size: 12px;
	line-height: 12px;
	font-family: tahoma, sans-serif;
	height: 15px;
	width: 86px;
	display: block;
	text-align:center;
}

.tabText > img {
	margin-bottom: -3px;
	position: relative;
}

#basicSearchDiv {
	min-height: 680px;
	height: 100%;
}

#roll_right {
	float:left;
	min-height:680px;
	width:17px;
	border-right: 1px solid #999999;
	background: #cccccc url(../media/bg_grayfade_vert.png)  repeat-y;
	display: none;
    padding: 0px;
  	margin-left: 0px;
  	height: 100%;
}

#roll_right > img {
	margin-left: 1px;
	margin-top: 4px;
}

.sub_headerButtons {
	float: right;
	padding-right: 5px;
}

#sortDropdownLabel {
	display: none;
}

#resultsSubHeader > div {
	display: none;
}
	
.sub_headerTitle {
	margin-left: 20px;
	color: #003366;
    font-family: Trebuchet MS;
    font-size: 13px;
    font-weight: normal;
    line-height: 25px;
}

/* search area */

form input[type=text] {
	border: 1px solid #CCCCCC;
}

form input[type=text]:focus {
	border: 1px solid #417DC1;
}

form input[type=password] {
	border: 1px solid #CCCCCC;
}

form input[type=password]:focus {
	border: 1px solid #417DC1;
}

textarea {
	border: 1px solid #CCCCCC;
}

textarea:focus {
	border: 1px solid #417DC1;
}

.searchBox {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	font-family: arial,sans-serif;
	font-size: 12px;
	width: 345px;
}

#basicSearchBox {
	display: block;
}

#basicSearchTextField {
    height: 15px;
    padding: 2px;
    width: 264px;
}

#basicSearchSubmit {
    float: right;
    font-size: 11px;
    line-height: 19px;
}

#basicSearchMapFilterContainer {
	margin-top: 5px;
	display: inline-block;	
}

#advancedSearchBox {
	display: none;
	width: 350px;
}

.advancedSearchButtons{
	text-align: right;
	margin-right: 5px;
}

#advancedSearchClear {
	margin:2px 4px;
	/*border:none;*/
}

#advancedSearchSubmit {
	margin:2px 0px;
	/*border:none;*/
}

.searchFormRow {
	/*height: 27px;*/
	line-height: 27px;
}

.searchFormRowTwo {
	margin-top: -4px;	
}	

.searchFormInput {
	width: 230px;
}

#moreSearchOptions {
	margin-top: 5px;
	/*margin-left: 55px;*/
	float: right;
}

#lessSearchOptions {
	float: right;
	/*margin-left: 78px;*/
}

.searchToggle {
	color: blue;
	text-decoration: underline;
	white-space: nowrap;
}

.searchToggle span:hover {
	color: yellow;
	} 

.searchFormLabel {
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    width: 95px;
}

.formCheckbox {
	margin-left: -5px;	
	display: inline-block;
	width: 228px;
}
              
/* results & cart table */

#searchResultsMessage {
	display: none;
	padding: 0 50px;
	color: #003366;
}

#searchResultsNavigation {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding-bottom: 5px;	
	font-size: 10px;
}

#searchResultsNavigation a {
	text-decoration: none;
}

#searchResultsNavigation a:hover {
   	color:#417dc1;
}

#resultsTable {
	display: none;
}

.table_header {
	font-size:11px;
}

.ui-effects-transfer { 
	/*border: 2px dotted gray;*/
	background-color: #edf4fa;
	opacity: .5;
	filter:Alpha(Opacity=50);
}

#savedLayersOptions {
	padding-top:15px;
	padding-bottom: 10px;
	padding-left:20px; 
	padding-right: 20px;
}

.highlight_row {
	background-color: #edf4fa;
}

#pagination {
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	border-top: 1px #ccc solid;
	margin-top: 5px;
	text-align: center;
	font-size:11px;
	padding-top: 3px;
}

#pagination a {
	color: #666666
}

.welcomeText {
	padding-top:20px;
	padding-bottom:20px;
	padding-left:30px;
	padding-right:30px;
	font-size: 12px;
}

/* footer */      
#footer {
 	/*text-align: center;
 	vertical-align:middle;*/
	height: 30px;
	background: #003366;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #333 solid 1px;
	font-size: 13px;
}	
 
#footerLogos {
	float: right;
	margin-right: 80px;
	margin-top: 2px;
}

#footerLogos > div {
	display: inline-block;
	height: 25px;
	padding-right: 10px;
	cursor: pointer;
}
	
#footerInfo {
	line-height: 30px;
	margin-left: 8px;
}

#footer a{
	/*font-size: 13px;*/
	color:#FFFFFF;
	text-decoration:none;
}

#footer a:hover{
	color:#FFFF66;
}


/* dialogs */
#organizeDialog th {
	text-align: left;
}

.columnVisibility {
	margin-right: 5px;
}

td.colorCellParent{
	width: 18px;
	height: 18px;
	padding: 0px;
}
	
div.colorCell {
	cursor: pointer;
	width:14px;
	height:14px;
	border:1px solid #CCCCCC;
}

div.colorCell:hover {
	border-color: #999999;
	width: 16px;
	height: 16px;
}

.colorCellSelected {
	border: 1px solid black !important;	
    width:16px !important;
	height:16px !important;
}

.linkText {
	width: 465px;
}

.shareServicesText {
	width: 460px;
}

#toMetadataTop {
	position: absolute;
	background: transparent;
	opacity: .35;
	height: 15px;
    left: 0;
    margin-right: -21px;
    width: 100%;
}

#toMetadataTop:hover {
	background: url("../media/arrow_up_white.png") no-repeat scroll 5px 50% black;
}
#metadataFooter {
	color: white;
}
#metadataDialog {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 15px;
}
#metadataContent {
	overflow: auto;
	height: 100%;
	/*word-wrap: break-word;*/
}

.dialog {
	text-align: left;
	cursor: default;
}

.dialog input {
	margin-left: 9px;
}

.infoDialog {
	padding: 1.5em 4em !important;
}

span.columnNote {
	display:block;
	float:right;
	margin-top:4px;
	font-style: italic;
}

.downloadSettingsDialog {
	margin-left: 17px;
	line-height: 20px;
	margin-top: 5px;
}

.downloadSettingsDialog div {
	padding-top: 5px;
	padding-bottom: 5px;
}

#emailAddress {
	width: 300px;
	border: 1px solid #CCCCCC;
	margin-left: 0;
}

#emailAddress:focus {
	border: 1px solid #417DC1;
}

.downloadSettingsDialog select {
	width: 100px;	
	position: absolute;
	left: 126px;
}

.downloadSettingsDialog label.downloadSelect {
	display: inline-block;
    text-align: right;
    width: 90px;
}

#downloadDialog label {
	padding-right: 5px;
}

#checkClip {
	margin-left: -1px;
	margin-top: 15px;
}

#checkClipLabel {
	margin-left: 5px;
}

.ignoreWarning {
	bottom: 0;
    display: block;
    left: 0;
    padding: 14px;
    position: absolute;
}

.genericModalDialog {
	padding: 1.5em 1.5em 0 !important;
}

.geodataContact {
	color: #417DC1;
}

#owsServicesArea .sub_headerTitle {
	margin-left: 0px;
}

table.downloadStatus {
	padding: 10px;
	width: 100%;
}

table.downloadStatus td {
	background: none repeat scroll 0 0 #DDD;
	padding: 2px;
}

table.attributeInfo {
	padding: 10px;
	width: 100%;
}

table.attributeInfo td {
	background: none repeat scroll 0 0 #DDD;
	padding: 2px;
}

td.attributeName {
	font-weight: bold;
}

td.attributeName:hover {
   	color:#417dc1; 
}

.getFeatureTitle {
	 color: #003366; 
	 font-family: Trebuchet MS; 
	 font-weight: lighter; 
	 font-size: 13px; 
	 padding: 10px;
}

.columnSort {
	display: inline-block;
	width: 19px;
	height: 19px;
}

.columnSort_unsorted {
	background: url("../media/sort_both.png") no-repeat right transparent;
}
.columnSort_sortedAsc {
	background: url("../media/sort_asc.png") no-repeat right transparent;
}
.columnSort_sortedDesc {
	background: url("../media/sort_desc.png") no-repeat right transparent;
}

.columnValue {
	display: none;
}

#optionDetails {
	height: 17px;
	padding: 5px;
}

#requestTickerContainer {
	-moz-border-radius: 4px 0px 0px 0px;
	border-radius: 4px 0px 0px 0px;
	border-left: 1px solid #AAAAAA;
	border-top: 1px solid #AAAAAA;
	display: none;
	color: #333333;
	position: fixed;
	bottom: 0;
	right: 1px;
	height: 31px;
	width: 170px;
	background-color: #DDDDDD;
	background: -moz-linear-gradient(left, #BBBBBB, #DDDDDD);
	background: -webkit-gradient(linear, left, right, from(#BBBBBB), to(#DDDDDD));
	z-index: 2000;
}

#requestTicker {
	text-align: right;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 31px;
	padding-right: 9px;
	display: inline-block;
}

#processingIndicator {
	position: absolute;
	margin: 4px;
	height: 25px;
    width: 27px;
}

