/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
/*
This file has been heavily modified from the original template
*/
:focus {
	outline: none;
}

body {
	text-align: left;
	margin: 0;
	padding: 0;
	background: #cccccc; /* url(../media/bg_tile.gif)  repeat;*/
	font-family: arial, sans-serif;
	font-size: 12px;
	color: black;
}

.hiddenElements {
	display: none;
}

img {
	border: none;
}

h1 {
	font-size: 14px;
	color: #003366;
}

h2 {
	font-size: 13px;
	color: #3366cc;
	margin-bottom: 3px;
}

h3 {
	font-size: 12px;
	color: #003366;
}

h4 {
	text-decoration: underline;
}

.button {
	cursor: pointer;
}

.raised {
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px
		rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px
		rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px
		rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.shadowDown {
	-moz-box-shadow: 0px 3px 4px -1px #888888 inset;
	-webkit-box-shadow: 0px 3px 4px -1px #888888 inset;
	box-shadow: 0px 3px 4px -1px #888888 inset;
}

.shadowDownOuter {
	-moz-box-shadow: 0px 4px 6px -2px #888888;
	-webkit-box-shadow: 0px 4px 6px -2px #888888;
	box-shadow: 0px 4px 6px -2px #888888;
}

.shadowRight {
	-moz-box-shadow: 3px 0px 4px 1px #888888 inset;
	-webkit-box-shadow: 3px 0px 4px 1px #888888 inset;
	box-shadow: 3px 0px 4px 1px #888888 inset;
}

.shadowRightOuter {
	-moz-box-shadow: 2px 0px 9px 1px #888888;
	-webkit-box-shadow: 2px 0px 9px 1px #888888;
	box-shadow: 2px 0px 9px 1px #888888;
}

.searchButton {
    	background: #6B91D5;
background: -webkit-gradient(linear, left top, left bottom, from(#6B91D5), to(#577CBE));
background: -webkit-linear-gradient(#6B91D5, #577CBE);
background: -moz-linear-gradient(top, #6B91D5, #577CBE);
background: -ms-linear-gradient(#6B91D5, #577CBE);
background: -o-linear-gradient(#6B91D5, #577CBE);
background: linear-gradient(#6B91D5, #577CBE);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B91D5', endColorstr='#577CBE');
zoom: 1;
    border: 1px solid #6B91D5;
    color: #FFFFFF;
}

li.searchAttribution.ui-widget-content.ui-menu-divider {
    border: medium none;
    margin: 0;
}

#mapClearButton {
	float: right;
	margin-top: 1px;
	right: 17px;
}

#sortDropdown {
	margin-left: 12px;
}

#sortDropdown .select .ui-button-text {
	width: 70px;
}

#topicDropdown .select .ui-button-text {
	width: 136px;	
}

.dropdown .ui-menu-item > a > div.showOnly {
	font-size: 10px;
    position: absolute;
    right: 31px;
    height: 20px;
    display: none;
}

.dropdown .ui-menu-item > a.ui-state-focus > div.showOnly {
	display: inline-block;	
}

.dropdown .ui-menu-item > a.ui-state-focus > div.showOnly:hover {
	text-decoration: underline;
}

.dropdown .showAll {
    display: inline-block;
    font-size: 10px;
    padding-left: 9px;
    visibility: hidden;
}

.dropdown .showAll:hover {
	text-decoration: underline;
}

.dropdown .ui-menu-item > a > div.sortArrows {
	right: 0px;
	position: absolute;
	margin-top: 2px;
	width: 10px;
	height: 12px;
}

.dropdown .ui-menu-item > a.ui-state-focus > div.sortArrows {
		background: url("../media/sorting.png") no-repeat scroll 0px
		0px transparent;
}
		
.dropdown .ui-menu-item > a.selected > div.sortArrows.sortDown {
	background: url("../media/sorting.png") no-repeat scroll -22px
		0px transparent;
}

.dropdown .ui-menu-item > a.selected > div.sortArrows.sortUp {
	background: url("../media/sorting.png") no-repeat scroll -11px
		0px transparent;
}

.owsServicesButton {
	width: 100%;
	text-align: left;
}

.owsServicesButton>span.ui-button-text {
	width: 100%;
}

.warning {
	color: #FF5555;
}

.notice {
	font-weight: bold;
}

.directionsText {
	padding: 20px;
}
/*2*/
#metadataDownloadButton {
	right: 2.3em;
}

/* Header */
#header {
	height: 120px;
	background-color: #ffffff;
	/*border-right: #CCCCCC solid 1px;
	border-left: #CCCCCC solid 1px;*/
	border-bottom: #999999 solid 1px;
	min-width: 1050px;
}

#logo {
	cursor: pointer;
	color: #492318;
	font-size: 35px;
	padding-left: 49px;
	padding-top: 25px;
	display: inline-block;
}

.offsetColor {
	color: #587CBC;
}

#top_menu {
	float: right;
	margin-top: 18px;
	margin-right: 17px;
}

.separator {
	padding: 0 5px;
}

#top_menu a {
	color: #000;
	text-decoration: none;
}

#top_menu a:hover {
	color: #0755AC;
}

.headerButton {
	color: #000;
	background: none;
	border: none;
	padding: 0;
}

.headerButton:hover {
	color: #0755AC;
}

#welcome {
	float: right;
	color: #333333;
	font-style: italic;
	height: 20px;
	margin-top: 9px;
	margin-right: 10px;
	visibility: hidden;
}

.styledSelect>ul {
	max-height: 160px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	z-index: 1500;
}

.searchFormInput.dropdown {
	display: inline-block;
}

.searchFormInput.dropdown .select.ui-button {
	width: 198px;
}

.searchFormInput.dropdown ul {
	min-width: 196px;
}

.searchFormInput>.styledSelect {
	width: 255px;
}

.dropdown .ui-menu-item>a>div {
	display: inline-block;
	margin-right: 9px;
}

.dropdown .ui-menu-item>a>div.checkOff {
	float: right;
	position: absolute;
	right: 5px;
}

.dropdown .ui-menu-item>a>div.checkOn {
	float: right;
	position: absolute;
	right: 5px;
}

.selectText {
	vertical-align: top;
}

.advancedSearchButtons>div {
	display: inline-block;
}

.basicSearchButtons {
	margin-left: -32px;
}

.basicSearchButtons>div {
	display: inline-block;
}


/* Container */
#container {
	background-color: #fff;
	overflow: hidden;
	min-height: 512px;
	min-width: 1050px;
	position: relative;
}

#map {
	opacity: 0;
	min-width: 1050px;
	
}
/* left column panel */
#left_col {
	height: 100%;
	float: left;
	cursor: default;
	display: none;
	z-index: 1200;
	position: relative;
	background-color: #ffffff;
}

.contents {
	height: 100%;
}

#tabs {
	border: none;
	border-right: #999 solid 1px;
	z-index: 1001;
	min-height: 100%;
	border-radius: 0;
}

#tabs>.ui-resizable-e {
	background: none repeat scroll 0 0 red;
}

th >.ui-resizable-e {
	cursor: col-resize;
	float: right;
	height: 14px;
	margin: -14px -9px 0 0;
	position: static;
	width: 7px;
}

#left_col>.ui-resizable-se {
	cursor: col-resize;
	height: 100% !important;
	right: 0;
	width: 7px !important;
	z-index: 2147483647 !important
}

.tableHeader {
	background: linear-gradient(#EAEAEA, #D3D3D3) repeat scroll 0 0
		transparent;
		background: #EAEAEA;
background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#D3D3D3));
background: -webkit-linear-gradient(#EAEAEA, #D3D3D3);
background: -moz-linear-gradient(top, #EAEAEA, #D3D3D3);
background: -ms-linear-gradient(#EAEAEA, #D3D3D3);
background: -o-linear-gradient(#EAEAEA, #D3D3D3);
background: linear-gradient(#EAEAEA, #D3D3D3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#D3D3D3');
zoom: 1;
	border-bottom: 1px solid #999999;
	padding: 2px;
}

.tableHeader>div {
	display: inline-block;
}

.tableHeader .button {
	margin-right: 5px;
}



.previewedLayers {
    background-color: #f8f8e4;
}

.previewedLayers > div {
	border-bottom: 1px solid #CCCCCC !important;
}

.arrow_buttons {
	float: right;
	margin-top: 3px;
	position: relative;
	z-index: 1002;
}

.shoppingCartIcon {
	background: url("../media/ogp-sprite.png") no-repeat scroll -127px -61px
		transparent;
	width: 31px;
	height: 22px;
	display: inline-block;
	float: left;
}

.arrow_left {
	background: url("../media/ogp-sprite.png") no-repeat scroll 0 -58px
		transparent;
	width: 30px;
	height: 26px;
	display: inline-block;
	margin-top: 1px;
    vertical-align: top;
    border: none;
}

.arrow_separator {
	background: url("../media/ogp-sprite.png") no-repeat scroll -29px -58px
		transparent;
	width: 10px;
	height: 26px;
	display: inline-block;
}

.arrow_right {
	background: url("../media/ogp-sprite.png") no-repeat scroll -39px -58px
		transparent;
	width: 27px;
	height: 26px;
	display: inline-block;
	margin-top: 1px;
    vertical-align: top;
    border: none;
}

.tabImage {
	height: 15px;
	/*border: none;*/
}

.tabText {
	height: 22px;
	padding-top: 2px;
}

#searchTabText {
	width: 119px;
}

#searchTabText>div {
	margin-top: 2px;
}

#cart {
	padding-bottom: 50px;
}

#cartTabText {
	width: 107px;
}

#cartTabTextInner {
	margin-right: 24px;
	margin-top: 1px;
}

.tabText>img {
	margin-bottom: -3px;
	position: relative;
}

#basicSearchDiv {
	/*min-height: 680px;*/
	height: 100%;
}

#roll_right {
	min-height: 512px;
	width: 25px;
	background-color: #eeeeee;
	vertical-align: top;
	position: absolute;
	padding: 0px;
	padding-top: 4px;
	height: 100%;
	top: 0px;
	right: 0px;
	z-index: 1010;
}

.sub_headerButtons {
	float: right;
	padding-right: 5px;
}

#sortDropdownLabel {
	display: none;
}

.sub_headerTitle {
	margin-left: 20px;
	color: #003366;
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	line-height: 25px;
}

/* search area */

form input[type=search] {
	border: 1px solid #999999;
	line-height: 15px;
    padding: 2px;
    -moz-box-shadow: 0 2px 3px 0 #878888 inset;
	-webkit-box-shadow: 0 2px 3px 0 #878888 inset;
	box-shadow: 0 2px 3px 0 #878888 inset;
	-webkit-appearance: textfield;
}

form input[type=search]:focus {
	border: 1px solid #417DC1;
}

form input[type=text] {
	border: 1px solid #999999;
	line-height: 15px;
    padding: 2px;
    -moz-box-shadow: 0 2px 3px 0 #878888 inset;
	-webkit-box-shadow: 0 2px 3px 0 #878888 inset;
	box-shadow: 0 2px 3px 0 #878888 inset;
}

form input[type=text]:focus {
	border: 1px solid #417DC1;
}

form input[type=password] {
	border: 1px solid #CCCCCC;
}

form input[type=password]:focus {
	border: 1px solid #417DC1;
}

textarea {
	border: 1px solid #CCCCCC;
}

textarea:focus {
	border: 1px solid #417DC1;
}

.searchBox {
	background: none repeat scroll 0 0 white;
	border-bottom: 1px solid #CCCCCC;
	font-family: arial, sans-serif;
	font-size: 12px;
	height: 30px;
	padding-bottom: 23px;
	padding-top: 2px;
	position: absolute;
	top: 65px;
	width: 100%;
	z-index: 1500;
	min-width: 1050px;
	
}

.scrollFiller {
	position: absolute;
	background-color: white;
	width: 14px;
	height: 49px;
	z-index: 9999999;
	border-left: 1px solid lightgray;
	right: 0;
}


#leftColSpacer {
	background-color: #FFFFFF;
	position: relative;
	z-index: 1490;
	height: 0px;
}

.advancedSearchButtons {
	margin-left: 80px;
	margin-top: 25px;
}

.basicSearch {
	display: inline-block;
	line-height: 22px;
	padding-right: 6px;
	width: 306px;
}

.labelText {
	padding-right: 5px;
}

.basicSearch input[type="search"] {
	width: 220px;
	-webkit-appearance: textfield;
}

.advancedSearch {
	display: none;
}

.whereBox.basicSearch > label {
    width: 55px;
}

.basicSearch.whatBox.searchFormRow > label {
    width: 51px;
}

.basicSearch.whatBox.searchFormRow {
    margin-left: -46px;
}

.basicSearch.basicSearchButtons.searchFormRow {
    margin-left: -105px;
}

#basicSearchBox {
	display: block;
}

#basicSearchMapFilterContainer {
	display: none;
	margin-top: 5px;
	display: inline-block;
	visibility: hidden;
}

.searchFormRow {
	line-height: 27px;
}

.searchFormRow > label {
	display: inline-block;
	width: 76px;
    font-family: arial;
    font-size: 14px;
}

.searchFormRow.advancedSearch>label {
	width: 77px;
}

.searchFormRow.advancedSearch>input[type="search"] {
	width: 192px;
	-webkit-appearance: textfield;
}

.searchFormRow .styledSelectText {
	min-width: 190px;
}

#searchForm {
	display: inline-block;
}

.searchCol {
	position: absolute;
	/*width: 340px;*/
	margin-right: 42px;
}

#searchCol1 {
	left: 50px;
}

#searchCol2 {
	left: 400px;
}

#searchCol3 {
	left: 750px;
}

.searchToggle {
	background: none;
    border: none;
	text-decoration: underline;
	white-space: nowrap;
	font-size: 11px;
	display: inline-block;
}

.searchToggle span:hover {
	color: yellow;
}

.whereBox {
	color: #0755AC;
	font-weight: bold;
}

.whatBox {
	color: #0755AC;
	font-weight: bold;
}

.formCheckbox {
	padding-left: 76px;
	display: inline-block;
	width: 228px;
}

/* results & cart table */
#searchResultsMessage {
	display: none;
	padding: 0 50px;
	color: #003366;
}

#searchResultsNavigation {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
	font-size: 10px;
}

#searchResultsNavigation a {
	text-decoration: none;
}

#searchResultsNavigation a:hover {
	color: #417dc1;
}

#resultsTable {
	display: none;
}

#cartTable {
	width: 100%;
}

#cartHeader {
	padding-right: 40px;
	text-align: right;
}

#removeFromCartButton {
	float: left;
	margin-left: 20px;
}

.table_header {
	font-size: 11px;
}

.ui-effects-transfer {
	/*border: 2px dotted gray;*/
	background-color: #edf4fa;
	opacity: .5;
	filter: Alpha(Opacity = 50);
}

#savedLayersOptions {
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.highlight_row {
	background-color: #edf4fa;
}

#pagination {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px #ccc solid;
	margin-top: 5px;
	text-align: center;
	font-size: 11px;
	padding-top: 3px;
}

#pagination a {
	color: #666666
}

.welcomeText {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

/* footer */
#footer {
	z-index: 1050;
	height: 30px;
	background: #FFF;
	border: #CCCCCC solid 1px;
	border-left: none;
	border-right: none;
	font-size: 13px;
	width: 100%;
	min-width: 1050px;
}

#footerLogos {
	float: left;
	margin-left: 20px;
	height: 30px;
	overflow: hidden;
}

#footerLogos>div {
	cursor: pointer;
	display: inline-block;
	line-height: 30px;
	padding-right: 10px;
	vertical-align: text-bottom;
}

#footerInfo {
	float: right;
	line-height: 30px;
	margin-right: 20px;
}

#footer a {
	/*font-size: 13px;*/
	color: #FFFFFF;
	text-decoration: none;
}

#footer a:hover {
	color: #FFFF66;
}

/* dialogs */
#organizeDialog th {
	text-align: left;
}

.columnVisibility {
	margin-right: 5px;
}

td.colorCellParent {
	width: 18px;
	height: 18px;
	padding: 0px;
}

div.colorCell {
	cursor: pointer;
	width: 14px;
	height: 14px;
	border: 1px solid #CCCCCC;
}

div.colorCell:hover {
	border-color: #999999;
	width: 16px;
	height: 16px;
}

.colorCellSelected {
	border: 1px solid black !important;
	width: 16px !important;
	height: 16px !important;
}

.linkText {
	width: 465px;
}

.shareServicesText {
	width: 460px;
}

#toMetadataTop {
	position: absolute;
	background: transparent;
	opacity: .35;
	height: 15px;
	left: 0;
	margin-right: -21px;
	width: 100%;
}

#toMetadataTop:hover {
	background: url("../media/arrow_up_white.png") no-repeat scroll 5px 50%
		black;
}

#metadataFooter {
	color: white;
}

#metadataDialog {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 15px;
}

#metadataContent {
	overflow: auto;
	height: 100%;

	/*word-wrap: break-word;*/
}

#metadataContent div.thumbnail {
   display: inline-block;
    left: 140px;
    position: relative;
    vertical-align: top;
}

#metadataContent #metadataTOC {
	display: inline-block;
}

.metadataIframe {
	height: 100%;
	width: 100%;
	border: none;
}

td div.button {
	margin: auto;
}

.viewLibraryRecordControl {
	background: url("../media/ogp-sprite.png") no-repeat scroll -131px -35px
		transparent;
	height: 17px;
	width: 17px;
}

.viewMetadataControl {
	background: url("../media/ogp-sprite.png") no-repeat scroll -131px -35px
		transparent;
	height: 17px;
	width: 17px;
}

td div.typeIcon {
	margin: auto;
}

td div.repositoryIcon {
	margin: auto;
}

.saveControl {
	height: 17px;
	width: 17px;
}

.notInCart {
	background: url("../media/ogp-sprite.png") no-repeat scroll -102px -13px
		transparent;
}

.inCart {
	background: url("../media/ogp-sprite.png") no-repeat scroll -130px -13px
		transparent;
}

.exampleControl {
	display: inline-block;
	padding: 0 2px;
}

.dialog {
	text-align: left;
	cursor: default;
}

.dialog input {
	margin-left: 9px;
}

.infoDialog {
	padding: 1.5em 4em !important;
}

span.columnNote {
	display: block;
	float: right;
	margin-top: 4px;
	font-style: italic;
}

.downloadDialog {
	margin-left: 17px;
	line-height: 20px;
	margin-top: 5px;
}

.downloadDialog div {
	padding-top: 5px;
	padding-bottom: 5px;
}

#emailAddress {
	width: 300px;
	border: 1px solid #CCCCCC;
	margin-left: 0;
}

#emailAddress:focus {
	border: 1px solid #417DC1;
}

.downloadDialog select {
	width: 100px;
	position: absolute;
	left: 126px;
}

.downloadDialog label.downloadSelect {
	display: inline-block;
	text-align: right;
	width: 90px;
}

#downloadDialog label {
	padding-right: 5px;
}

#checkClip {
	margin-left: -1px;
	margin-top: 15px;
}

#checkClipLabel {
	margin-left: 5px;
}

.ignoreWarning {
	bottom: 0;
	display: block;
	left: 0;
	padding: 14px;
}

.genericModalDialog {
	padding: 1.5em 1.5em 0 !important;
}

.geodataContact {
	color: #417DC1;
}

#owsServicesArea .sub_headerTitle {
	margin-left: 0px;
}

.owsServicesLinkContainer > label, .owsServicesLinkContainer > select, .owsServicesLinkContainer > div {
    margin: 4px;
}

table.downloadStatus {
	padding: 10px;
	width: 100%;
}

table.downloadStatus td {
	background: none repeat scroll 0 0 #DDD;
	padding: 2px;
}

table.attributeInfo {
	padding: 10px;
	width: 100%;
}

table.attributeInfo td {
	background: none repeat scroll 0 0 #DDD;
	padding: 2px;
}

td.attributeName {
	font-weight: bold;
}

td.attributeName:hover {
	color: #417dc1;
}

.getFeatureTitle {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	text-align: left;
}

.columnSort {
	width: 19px;
	height: 19px;
}

.columnSort_unsorted {
	background: url("../media/sort_both.png") no-repeat right transparent;
}

.columnSort_sortedAsc {
	background: url("../media/sort_asc.png") no-repeat right transparent;
}

.columnSort_sortedDesc {
	background: url("../media/sort_desc.png") no-repeat right transparent;
}

.columnValue {
	display: none;
}

#optionDetails {
	display: none;
	background: none repeat scroll 0 0 #4B8ACF;
	height: 34px;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
	width: 100%;
	overflow: visible;
	color: white;
	font-size: 14px;
}

#optionDetails > div {
	padding: 9px 5px 9px 20px;
}

#requestTickerContainer {
	border-left: 1px solid #AAAAAA;
	border-radius: 4px 0 0 4px;
	border-top: 1px solid #AAAAAA;
	bottom: 71px;
	color: #333333;
	display: none;
	height: 31px;
	position: fixed;
	right: 0;
	width: 170px;
	background-color: #DDDDDD;

	background: -webkit-gradient(linear, left, right, from(#BBBBBB), to(#DDDDDD));
	background: -webkit-linear-gradient(#BBBBBB, #DDDDDD);
	background: -moz-linear-gradient(left, #BBBBBB, #DDDDDD);
	background: -ms-linear-gradient(#BBBBBB, #DDDDDD);
	background: -o-linear-gradient(#BBBBBB, #DDDDDD);
	background: linear-gradient(#BBBBBB, #DDDDDD);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBBBBB', endColorstr='#DDDDDD');
	zoom: 1;

	z-index: 2000;
}

#requestTicker {
	text-align: right;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 31px;
	padding-right: 9px;
	display: inline-block;
}

#processingIndicator {
	height: 28px;
	margin: 2px;
	position: absolute;
	width: 28px;
}

iframe.download {
	display: none;
}

#featureInfo {
	overflow: auto;
}

/* geocommons dialog */
#geoCommonsExportForm>select {
	left: 97px;
	margin-top: 3px;
	position: absolute;
}

#geoCommonsExportDialog>form {
	line-height: 30px;
	padding: 10px;
}

#geoCommonsExportForm>input[type="text"] {
	left: 90px;
	margin-top: 4px;
	position: absolute;
	width: 252px;
	padding: 2px;
}

#geoCommonsExportForm>fieldset {
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	padding: 15px;
}

#geoCommonsExportForm>fieldset>input {
	left: 108px;
	position: absolute;
	margin-top: 4px;
}

.linkButton {
	color: blue;
	text-decoration: underline;
}

#geoCommonsExportForm>fieldset .linkButton {
	float: right;
}
/********
Preview controls
*********/
.checkOff {
	background: url("../media/ogp-sprite.png") no-repeat scroll -61px -89px
		transparent;
	width: 25px;
	height: 17px;
}

.checkOn {
	background: url("../media/ogp-sprite.png") no-repeat scroll -84px -89px
		transparent;
	width: 25px;
	height: 17px;
}

.loginButton {
	background: url("../media/ogp-sprite.png") no-repeat scroll -67px -12px
		transparent;
	width: 25px;
	height: 17px;
}

.previewLink {
	background: url("../media/ogp-sprite.png") no-repeat scroll -110px -89px rgba(0, 0, 0, 0);
    height: 17px;
    width: 25px;
}

/*******
DataTypes
********/
.polygonIcon {
	background: url("../media/ogp-sprite.png") no-repeat scroll -101px -36px
		transparent;
	width: 17px;
	height: 17px;
}

.pointIcon {
	background: url("../media/ogp-sprite.png") no-repeat scroll -80px -36px
		transparent;
	width: 17px;
	height: 17px;
}

.lineIcon {
	background: url("../media/ogp-sprite.png") no-repeat scroll -10px -36px
		transparent;
	width: 17px;
	height: 17px;
}

.rasterIcon {
	background: url("../media/ogp-sprite.png") no-repeat scroll -35px -36px
		transparent;
	width: 17px;
	height: 17px;
}

.mapIcon {
	background: url("../media/ogp-sprite.png") no-repeat scroll -58px -36px
		transparent;
	width: 17px;
	height: 17px;
}

.tabularIcon {
	background: url("../media/icon_table.gif") no-repeat transparent;
	width: 17px;
	height: 17px;
}

.documentIcon {
	background: url("../media/documentIcon.gif") no-repeat transparent;
	width: 17px;
	height: 17px;
}

/*************
Repositories
*************/
.tuftsIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -33px
		-10px transparent;
}

.mitIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -129px
		-10px transparent;
}

.harvardIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -79px
		-10px transparent;
}

.berkeleyIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -35px
		-35px transparent;
}

.marylandIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -12px
		-35px transparent;
}

.unIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -10px
		-10px transparent;
}

.massgisIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -102px
		-10px transparent;
}

.princetonIcon {
	background: url("../media/ogp-institutions.png") no-repeat scroll -56px
		-10px transparent;
}

.columbiaIcon {
	background: url("../media/src_columbia.png") no-repeat transparent;
}


/**************
Backbone table view
***************/

.tableWrapper {
	font-family: Verdana,Geneva,sans-serif;
}

.tableHeaders {
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    white-space: nowrap;
}

.rowContainer {
	overflow-y: auto;	
	overflow-x: hidden;
	white-space: nowrap;
}

#searchResults > .tableWrapper > .rowContainer {
	overflow-y: scroll;
}

.hiddenRow {
	display: none;
}

.hiddenTable {
	display: none;
}

.previewedLayers .rowContainer {
	overflow: visible;
}

.tableRow {
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.tableCell {
    display: inline-block;
}

.tableHeaders > .tableCell {
    border-color: #CCCCCC;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 3px;
    position: relative;
    text-align: center;
    height: 18px;
    vertical-align: top;
    overflow: hidden;
}

.rowContainer .tableCell {
	    height: 17px;
	    color: #4E4E4E;
	    overflow: hidden;
    	padding: 2px 4px 2px 3px;
}

.tableCell > div {
	margin: auto;
}

/* text columns */

.tableCell > .cellWrapper {
	width: 100%;
	margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    word-break: break-all;
}

td.colTitle {
	cursor: pointer;
	color: #000000 !important;
}

.rowContainer .colTitle {
	cursor: pointer;
	color: #000000;
}

.tableRow.rowHover {
	background-color: #ebf6ff;
	border-bottom: #d8e8fa 1px solid !important;
	border-top: #d8e8fa 1px solid !important;
	padding-top: 0;
	padding-bottom: 0;
}

.emptyTable {
    padding: 5px;
    text-align: center;
}

.tableRow.cartAction  {
	opacity: .6;
}

.tableRow.cartAction.cartSelected {
	opacity: 1;
	background-color: #CDE4FA;
	border-color: #CDE4FA;
}

.bottomSpacer {
	height: 25px;
}

/**********
preview controls
***********/

.previewControls {
	font-size: 11px;
}

.previewControls > div {
	line-height: 15px;
	display: inline-block;
	height: 17px;
	position: relative;
}

.sliderControl>div {
	color: #231F20;
	background-color: #FFFFFF;
	z-index: 10;
}

.sliderDisplay {
	font-size: 10px;
	border: 1px solid #aaaaaa;
	border-radius: 3px 0 0 3px;
	padding-left: 5px;
	padding-right: 2px;
	display: inline-block;
}

.sliderArrow {
	background: url("../media/ogp-sprite.png") no-repeat scroll -65px -64px
		transparent;
	border-bottom: 1px solid #aaaaaa;
	border-radius: 0 3px 3px 0;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	height: 15px;
	vertical-align: top;
	width: 14px;
	display: inline-block;
}

.controlContainer {
	position: absolute;
	border: 1px solid #aaaaaa;
	background: white;
	height: 11px;
	width: 71px;
	padding: 5px 10px 5px 8px;
	right: 0;
	top: 100%;
	display: none;
}

.controlText {
	height: 13px;
	display: inline-block;
	font-size: 10px;
	padding: 0px 1px;
}


.colorControl {
	width: 12px;
	height: 12px;
	border: 1px solid #aaaaaa;
	display: inline-block;
	-moz-border-radius: 1px;
}

.sizeControlCell .sliderLabel {
	display: inline-block;
	width: 50px;
}

.opacityControlCell {
	left: 71px;
	top: -3px;
}

.opacityControlCell .sliderValue {
	display: inline-block;
	width: 19px;
	text-align: right;
}

.sizeControlCell {
	left: 83px;
	top: -3px;
}

.colorControlCell {
	left: 89px;
	top: -1px;
}

.layerInfo {
    border: 2px solid #CCCCCC;
    font-size: 11px;
    padding: 10px;
    white-space: pre-wrap;
}
/**********
icons
***********/

.expandControl {
	height: 17px;
	width: 11px;
}

.expanded {
	background: url("../media/ogp-sprite.png") no-repeat scroll -92px -115px
		transparent;
}

.notExpanded {
	background: url("../media/ogp-sprite.png") no-repeat scroll -83px -63px
		transparent;
}

.zoomToLayerControl {
	left: 104px;
	background: url("../media/ogp-sprite.png") no-repeat scroll -9px -90px
		transparent;
	height: 17px;
	width: 17px;
	top: 1px;
}

.attributeInfoControl {
	left: 110px;
	height: 17px;
	width: 17px;
	top: 1px;
}

.attributeInfoControlOn {
	background: url("../media/ogp-sprite.png") no-repeat scroll -115px
		-115px transparent;
}

.attributeInfoControlOff {
	background: url("../media/ogp-sprite.png") no-repeat scroll -36px -90px
		transparent;
}

.cartIconTable {
	background: url("../media/ogp-sprite.png") no-repeat scroll -102px -62px
		transparent;
	height: 17px;
	width: 17px;
}

.repositoryIcon {
	height: 17px;
	width: 17px;
}

.typeIcon {
	height: 17px;
	width: 17px;
	vertical-align: middle;
}



/*************
Info Bubble
*************/
.closeBubble {
	background: url("../media/ogp-sprite.png") no-repeat scroll -66px -114px
		transparent;
	width: 20px;
	height: 20px;
	float: right;
}

button.closeBubble {
	border: none;
}

.infoBubbleText {
	padding: 10px 20px;
	left: 2px;
	top: 2px;
	color: white;
	font: 24px "Univers", Sans-Serif;
	z-index: 2147483647;
	text-align: left;
}

.infoBubbleText h1 {
	color: white;
	font: 55px "Univers", Sans-Serif;
	font-style: oblique;
}

.infoBubbleText label {
	color: white;
	font: 12px "Univers", Sans-Serif;
}

.triangle-isosceles.top-arrow:after {
	border-color: #6B91D5 transparent;
	border-width: 0 15px 155px;
	bottom: auto;
	left: 24px;
	right: auto;
	top: -155px;
	transform: scale(1.01);
}

.triangle-isosceles.left-arrow:after {
	border-color: #648ACE transparent;
	border-width: 0 0 27px 56px;
	bottom: auto;
	left: -51px;
	top: 125px;
	transform: rotate(14deg);
}

.triangle-isosceles:after {
	border-color: #6B91D5 transparent;
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 50px;
	position: absolute;
	width: 0;
}

.triangle-isosceles.top-arrow {
	
	background: #6B91D5;
background: -webkit-gradient(linear, top, bottom, from(#6B91D5), to(#577CBE));
background: -webkit-linear-gradient(#6B91D5, #577CBE);
background: -moz-linear-gradient(top, #6B91D5, #577CBE);
background: -ms-linear-gradient(#6B91D5, #577CBE);
background: -o-linear-gradient(#6B91D5, #577CBE);
background: linear-gradient(#6B91D5, #577CBE);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B91D5', endColorstr='#577CBE');
zoom: 1;
}

.triangle-isosceles.left-arrow {
	background: #6B91D5;
background: -webkit-gradient(linear, top, bottom, from(#6B91D5), to(#577CBE));
background: -webkit-linear-gradient(#6B91D5, #577CBE);
background: -moz-linear-gradient(top, #6B91D5, #577CBE);
background: -ms-linear-gradient(#6B91D5, #577CBE);
background: -o-linear-gradient(#6B91D5, #577CBE);
background: linear-gradient(#6B91D5, #577CBE);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B91D5', endColorstr='#577CBE');
zoom: 1;
}

.triangle-isosceles {
	background: #6B91D5;
background: -webkit-gradient(linear, top, bottom, from(#6B91D5), to(#577CBE));
background: -webkit-linear-gradient(#6B91D5, #577CBE);
background: -moz-linear-gradient(top, #6B91D5, #577CBE);
background: -ms-linear-gradient(#6B91D5, #577CBE);
background: -o-linear-gradient(#6B91D5, #577CBE);
background: linear-gradient(#6B91D5, #577CBE);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B91D5', endColorstr='#577CBE');
zoom: 1;
	border-radius: 15px;
	position: absolute;
}

.infoBubbleBackground {
	padding: 10px 20px;
	color: white;
	box-shadow: 0 0 7px black;
	display: none;
	z-index: 9999;
}

.triangle-isoscelesBackground.top-arrowBackground:after {
	border-color: #61729E transparent;
	border-width: 0 17px 154px;
	bottom: auto;
	left: 24px;
	right: auto;
	top: -154px;
	transform: scale(1.01);
}

.triangle-isoscelesBackground.left-arrowBackground:after {
	border-width: 0 0 31px 59px;
	bottom: auto;
	left: -55px;
	top: 124px;
	transform: rotate(14deg);
}

.triangle-isoscelesBackground:after {
	border-color: #61729E transparent;
	border-style: solid;
	border-width: 15px 15px 0;
	bottom: -15px;
	content: "";
	display: block;
	left: 50px;
	position: absolute;
	width: 0;
}

.triangle-isoscelesBackground.top-arrowBackground {
	background-color: #61729E;
}

.triangle-isoscelesBackground.left-arrowBackground {
	background-color: #61729E;
}

.triangle-isoscelesBackground {
	background-color: #61729E;
	border-radius: 15px;
	position: absolute;
}

.detailsBottom:after {
	content: "";
	position: absolute;
	left: 47%;
	width: 10px;
	height: 10px;
	/* box-shadow: 6px 5px 9px -9px black;*/
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
	background-color: #4B8ACF;
	/*border-bottom: 8px solid #4B8ACF;*/
	top: -11px;
	z-index: 999;
}
