/* dropdown styling */
li.searchAttribution.ui-widget-content.ui-menu-divider {
    border: medium none;
    margin: 0;
}

#sortDropdown {
    margin-left: 12px;
}

#sortDropdown .select .ui-button-text {
    width: 70px;
}

#topicDropdown .select .ui-button-text {
    width: 136px;
}

.ui-menu-item-wrapper {
    padding: 10px;
}

.dropdown .ui-menu-item > .ui-menu-item-wrapper > div.showOnly {
    font-size: 10px;
    visibility: hidden;
}

.dropdown .ui-menu-item.selected {
    color: #587CBC;
}

.dropdown .ui-menu-item > .ui-menu-item-wrapper div {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.dropdown .ui-menu-item.selected > .ui-menu-item-wrapper.ui-state-active {
    color: #587CBC;
}

.dropdown .ui-menu-item > .ui-menu-item-wrapper.ui-state-active > div.showOnly {
    display: inline-block;
    visibility: visible;
}

.dropdown .ui-menu-item > .ui-menu-item-wrapper.ui-state-active > div.showOnly:hover {
    text-decoration: underline;
}

.ui-menu-item > .ui-menu-item-wrapper {
    padding: 8px;
    border-bottom: rgba(0,0,0,0) 1px solid !important;
    border-top: rgba(0,0,0,0) 1px solid !important;
}

.ui-menu-item > .ui-menu-item-wrapper.ui-state-active {
    background-color: #ebf6ff;
    background-image: none;
    border-bottom: #d8e8fa 1px solid !important;
    border-top: #d8e8fa 1px solid !important;
    border-left: none;
    border-right: none;
}

.dropdown .showAll {
    display: inline-block;
    font-size: 10px;
    padding-left: 9px;
    visibility: hidden;
}

.dropdown .showAll:hover {
    text-decoration: underline;
}

.dropdown .ui-menu-item div.sortArrows {
    margin-top: 2px;
    width: 10px;
    height: 12px;
}

.dropdown .ui-menu-item.ui-state-active div.sortArrows {
    background: url("/media/sorting.png") no-repeat scroll 0 0 transparent;
}

.dropdown .ui-menu-item.selected div.sortArrows.sortDown {
    background: url("/media/sorting.png") no-repeat scroll -22px 0 transparent;
}

.dropdown .ui-menu-item.selected div.sortArrows.sortUp {
    background: url("/media/sorting.png") no-repeat scroll -11px 0 transparent;
}

.styledSelect > ul {
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 1500;
    box-shadow: 1px 3px 6px #555555;
}

.searchFormInput.dropdown {
    display: inline-block;
}

.searchFormInput.dropdown .select.ui-button {
    width: 198px;
}

.searchFormInput.dropdown ul {
    min-width: 196px;
    width: 100%;
    max-width: 500px;
}

.searchFormInput > .styledSelect {
    width: 255px;
}

.dropdown .ui-menu-item {
    list-style-image: none;
}

.dropdown .ui-menu-item > div {
    display: inline-block;
    padding: 5px 1.5em;
    width: 100%;
    vertical-align: middle;
}

.menuItemSuffix {
    padding: 0 5px;
}

.selectTextWrapper {
    width: calc(100% - 55px);
}

span.button-text {
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 16px);
    display: inline-block;
    vertical-align: middle;
}

#dataTypeDropdown .selectTextWrapper, #repositoryDropdown .selectTextWrapper {
    padding-left: 15px;
    width: calc(100% - 117px);
}

.facetCount {
    color: #666666;
    font-size: .9em;
}