/* attribution displayed elsewhere */
.olLayerGoogleCopyright {
	 display: none;
}

.olLayerGooglePoweredBy {
	 width: 70px;
}

.gm-style .gmnoprint {
    right: 69px !important;
}

div.googleLogo a > div {
    position: relative;
    bottom: 20px;
    left: 30px;
}

.poweredByGoogleAttr {
    background: url("../static/media/powered-by-google/powered-by-google-on-white.png") no-repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 20px;
    width: 110px;
}

.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("../static/media/blank.gif");
    cursor: move;
    border: 2px dotted red;
}
