.metadataContainer {
    font-family: arial, sans-serif;
    padding: 40px;
    min-width: 500px;
    min-height: 200px;
}

.metadataContainer img {
    border: none;
}

.metadataContainer h1 {
    color: #003366;
    font-size: 2em;
}

.metadataContainer h2 {
    color: #3366cc;
    font-size: 1.5em;
    margin-bottom: 3px;
}

.metadataContainer h3 {
    font-size: 1em;
    color: #003366;
}

.metadataContainer img.browse {
    border: 0;
    max-height: 400px;
    max-width: 400px;
}

.metadataContainer .inline {
    display: inline;
}

.metadataContainer h2.sectionHeader {
    background-color: #edf4fa;
    color: #333333;
    padding: 9px;
}

.metadataContainer hr {
    color: #0755ac;
    opacity: 0.5;
}

.metadataTOC.level1 > h1 {
    font-size: 1.5em;
}

.metadataDialogContent div.thumbnail {
    display: inline-block;
    left: 140px;
    position: relative;
    vertical-align: top;
}

.metadataDialogContent #metadataTOC {
    display: inline-block;
}

.metadataDescription {
    color: #444444;
    font-size: 1.2em;
    line-height: 1.5em;
}

.metadataContent .sectionContent {
    margin-left: 8px;
    margin-right: 40px;
}

.metadataContent h3.subSectionHeader {
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.metadataContent .subSectionContent {
    margin-left: 16px;
}

.metadataContent .subSectionContent > h4 {
    border-bottom: 1px solid;
    color: #105eb5;
}

.metadataContent .subSectionContent h5 {
    color: #444444;
    display: inline-block;
    font-size: 0.9em;
    margin: 9px 0;
    text-transform: capitalize;
}

.subSectionContent div > h4 {
    display: inline-block;
    margin: 0.75em 0;
    text-transform: capitalize;
}

.metadataContent .contactInfo {
    line-height: 1em;
}

.metadataContent .contactInfo h6, h5 {
    display: inline-block;
    margin: 1em 0;
}

.metadataContent .contactInfo a {
    line-height: 2em;
}

.metadataContent .address {
    margin-bottom: .5em;
}

.metadataContent .phone {
    margin-bottom: 1em;
}

.metadataContent .thesaurusCitation div {
    margin-left: 1em;
}

.metadataContent .thesaurusCitation h6 {
    color: #444444;
    font-size: 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.metadataContent .bounds > div {
    display: inline;
}

.metadataTOC li {
    line-height: 1.5em;
}

.metadataTOC a {
    text-decoration: none;
}

.metadataTitle {
    padding: 1px 0;
}

.metadataBrowse {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 16px;
}

.metadataFull {
    clear: both;
}