.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;   
}

.olLayerGoogleCopyright > img{
	display: none;
}

.olLayerGoogleCopyright > div{
	display: none;
}
